name: My NodeJS App
on: 
  push:
    branches:
      - main


jobs:
  unit-testing:
    name: Unit Testing
    runs-on: ubuntu-latest


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3


      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'


      - name: Install Dependencies
        run: npm install

      - name: Run Unit Tests
        run: |
          npm test &
          sleep 2
          curl -sSf http://localhost:3000 | grep 'Hello from Node.js Application'